#################################
# SQL SERVER
#################################
ACCEPT_EULA=Y
MSSQL_SA_PASSWORD=YourStrong!Passw0rd
SQLSERVER_PORT=1433
DATABASE_NAME=paymentsdb
DATABASE_USER=sa

#################################
# RABBITMQ
#################################
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

#################################
# SPRING BOOT
#################################
APP_PORT=8081

SPRING_DATASOURCE_URL=jdbc:sqlserver://sqlserver:1433;databaseName=paymentsdb;encrypt=true;trustServerCertificate=true
SPRING_DATASOURCE_USERNAME=sa
SPRING_DATASOURCE_PASSWORD=YourStrong!Passw0rd

SPRING_RABBITMQ_HOST=rabbitmq
SPRING_RABBITMQ_PORT=5672
SPRING_RABBITMQ_USERNAME=guest
SPRING_RABBITMQ_PASSWORD=guest

#################################
# RABBITMQ EVENTS
#################################
PAYMENT_EXCHANGE=payments.exchange
PAYMENT_STATUS_ROUTING_KEY=payments.status.changed
PAYMENT_AUDIT_QUEUE=payments.status.audit.queue
PAYMENT_NOTIFICATION_QUEUE=payments.status.notification.queue
